flows/Sales_Target_Amount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Amount</name>
        <label>Set Amount</label>
        <locationX>520</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>SalesTargetRecord.Actual_Sales__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityRecord.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sales_Targets</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>OpportunityMonth</name>
        <dataType>String</dataType>
        <expression>CASE( TEXT(MONTH({!OpportunityRecord.CloseDate})), 
&quot;1&quot;, &quot;Jan&quot;, 
&quot;2&quot;, &quot;Feb&quot;,
&quot;3&quot;, &quot;Mrc&quot;,
&quot;4&quot;, &quot;Apr&quot;,
&quot;5&quot;, &quot;Mrc&quot;,
&quot;6&quot;, &quot;Jun&quot;,
&quot;7&quot;, &quot;Jul&quot;,
&quot;8&quot;, &quot;Aug&quot;,
&quot;9&quot;, &quot;Sep&quot;,
&quot;10&quot;, &quot;Oct&quot;,
&quot;11&quot;, &quot;Nov&quot;,
&quot;12&quot;, &quot;Dev&quot;,
&quot;0&quot; )</expression>
    </formulas>
    <interviewLabel>Sales Target Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Target Amount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>199</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Target_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Target_Record</name>
        <label>Get Target Record</label>
        <locationX>370</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Rep__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityRecord.OwnerId</elementReference>
            </value>
        </filters>
        <object>Sales_Targets__c</object>
        <outputReference>SalesTargetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Actual_Sales__c</queriedFields>
        <queriedFields>Month__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sales_Targets</name>
        <label>Update Sales Targets</label>
        <locationX>633</locationX>
        <locationY>101</locationY>
        <inputReference>SalesTargetRecord</inputReference>
    </recordUpdates>
    <startElementReference>Get_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SalesTargetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Targets__c</objectType>
    </variables>
</Flow>
