flows/test_quip2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>copy_template</name>
        <label>copy template</label>
        <locationX>357</locationX>
        <locationY>197</locationY>
        <actionName>copyQuipDocument</actionName>
        <actionType>copyQuipDocument</actionType>
        <connector>
            <targetReference>update_quip_test</targetReference>
        </connector>
        <inputParameters>
            <name>companyLinkAccess</name>
            <value>
                <stringValue>edit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceDocumentUrl</name>
            <value>
                <elementReference>templateUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <elementReference>testQuip.Name</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>testQuip.quip_document_url__c</assignToReference>
            <name>documentLink</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>create_document</name>
        <label>create document</label>
        <locationX>347</locationX>
        <locationY>50</locationY>
        <actionName>createQuipDocument</actionName>
        <actionType>createQuipDocument</actionType>
        <connector>
            <targetReference>update_quip_test</targetReference>
        </connector>
        <inputParameters>
            <name>companyLinkAccess</name>
            <value>
                <stringValue>edit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>content</name>
            <value>
                <elementReference>content</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>documentTitle</name>
            <value>
                <elementReference>testQuip.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>memberFolderUrls</name>
            <value>
                <stringValue>folder/test-sf-integration</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>testQuip.Name</assignToReference>
            <name>createdTitle</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>testQuip.quip_document_url__c</assignToReference>
            <name>documentLink</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>templateUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://exah.quip.com/w99sAFpMeQp8</stringValue>
        </value>
    </constants>
    <interviewLabel>test quip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test quip2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_quip_test</name>
        <label>get quip test</label>
        <locationX>177</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>copy_template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testQuipId</elementReference>
            </value>
        </filters>
        <object>test_quip__c</object>
        <outputReference>testQuip</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>text1__c</queriedFields>
        <queriedFields>quip_document_url__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_quip_test</name>
        <label>update quip test</label>
        <locationX>561</locationX>
        <locationY>102</locationY>
        <inputReference>testQuip</inputReference>
    </recordUpdates>
    <startElementReference>get_quip_test</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>content</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>[[Owner.Name]]</text>
    </textTemplates>
    <variables>
        <name>testQuip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>test_quip__c</objectType>
    </variables>
    <variables>
        <name>testQuipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
